h1{
  color: white;
}
.header-img{
  width: 100%;
}
.header{
}

.services{
  .headline{
    font-size: 9em;
    line-height: 1.5em;
    border-bottom: 10px dotted white;
  }
}

.what{
  .headline{
    font-size: 9em;
    line-height: 1.5em;
    border-bottom: 10px dotted white;
  }
}

.beat{
  .headline{
    font-size: 9em;
    line-height: 1.5em;
    border-bottom: 10px dotted white;
  }
}

.equipment{
  .headline{
    font-size: 9em;
    line-height: 1.5em;
    border-bottom: 10px dotted white;
  }
}

.tracks{
  .headline{
    font-size: 9em;
    line-height: 1.5em;
    border-bottom: 10px dotted white;
  }
}

.contact{
  .headline{
    font-size: 9em;
    line-height: 1.5em;
    border-bottom: 10px dotted white;
  }
}

.footer{
  .headline{
    font-size: 9em;
    line-height: 1.5em;
    border-bottom: 10px dotted white;
  }
}
