h1{
  color: white;
}
hr{
  position: relative;
  width: 50px;
  height: 5px;
  float: left;
  margin-top:15px;
}
.header-img{
  width: 100%;
}
iframe {
    padding-top: 40px;
    padding-bottom: 40px;
}
#player{
  max-width: 100%!important;
}
.header{
    background-color: #1a1514;
    .logo{
      width: 80px;
      margin-top: 12px;
      float: left

    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 20px 50px 10px 50px;
      overflow: hidden;
      font-family: 'mrs-eaves-roman-small-caps', serif;
      border-bottom: solid 1px;
    }

    li {
        float: left;
    }
    li a {
        display: block;
        color: #686564;
        text-align: center;
        padding: 14px 40px;
        font-family: "mrs-eaves-roman-small-caps";
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 12px;
        padding-top: 30px;
    }
    li a:hover {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
    }
    .insta-icon{
      width: 50px;
      margin-top: -10px;
      padding-bottom: 10px;
    }
    .down-icon{
      width: 30%;
      margin-top: -20px;
    }
    .header-text{
      font-size: 20px;
      opacity: 0.9;
      color: white;
      font-family: 'Refrigerator Deluxe', sans-serif;
    }
    .header-links{
      color: white;
      width: 100%;
    }
    .header-links{
      margin-top: -100px;
    }
}

.what{
  color:white;
  .headline{
    text-align: left;
    color: white;
    font-family: 'lexia-advertising', serif;
    font-size: 20px;
    font-weight: 700;
    padding: 50px 0px 0px 0px;
    letter-spacing: 1px;
  }
  .subheadline{
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1px;
    text-align: left;
  }

  h1{
    font-size: 50px;
    font-family: 'Refrigerator Deluxe', sans-serif;
    margin-bottom: 0px;
  }
  p{
    font-size: 16px;
    line-height: 28px;
    opacity: 0.9;
  }
  .what-icon{
    width: 200px;
    padding-top: 13%;
  }
  .what-tracking{
    width: 0%;
    padding-top: 60px;
  }
  .what-text{
    color:white;
    text-align: left;
    font-size: 24px;
    line-height: 30px;
  }
}

.beat{
  color:white;
  font-size: 24px;
  padding-bottom: 80px;
  p{
    text-align: left;
    font-size: 16px;
    line-height: 28px;
    opacity: 0.9;
    // padding-bottom: 40px;
  }
  h1{
    padding:0px;
    padding-top: 10px;
    text-align: left;
    margin: 0px;
    border-bottom: solid 2px white;
    font-family: 'Refrigerator Deluxe', sans-serif;
    font-weight: 900;
  }
  button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
    margin-top: -20px;
    cursor: pointer;
    font-family: 'lexia-advertising', sans-serif;

  }
  .whatWeDoText{
    padding-top: 80px;
  }
  .headline{
    padding: 25px 0% 0px 0px;
    text-align: left;
    font-family: 'lexia-advertising', serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5em;
    letter-spacing: 1px;
  }
  .subheadline{
    padding-top: 40px;
    padding-right: 100px;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    opacity: 0.9;
    font-weight: 100;
    letter-spacing: 1px;
  }
  .price-container{
    width: 100%;
    height: 400px;
    text-align: left;
  }
  .prices{
    padding-top: 60px;
  }
  .price-text{
    font-size: 30px;
    font-family: 'Refrigerator Deluxe', sans-serif;
  }
  .beat-img{
    width: 100%;
  }
  .beat-padding{
    padding-top: 60px;
  }
}

.equipment{
  color:white;
  font-size: 24px;
  padding-bottom: 80px;
  .headline{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: 'lexia-advertising', serif;
    line-height: 1.5em;
    letter-spacing: 1px;
  }
  .equipment-name{
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 54px;
    width: 500px;
    padding-bottom: 20px;
    cursor: pointer;
    font-family: 'Refrigerator Deluxe', sans-serif;
    font-weight: 900;
    .icon{
      width: 7%;
    }
    hr{
      width: 90%;
      height: 1px;
    }
    .equipment-text{
      font-size: 24px;
      padding-left: 50px;
      margin-top:-30px
    }
    p{
      font-weight: 100;
      font-family: 'Merriweather', serif;
      padding: 0px;
      margin: 5px;
      font-size: 16px;
    }
  }
  .equipment-padding{
    padding-top:40px;
  }
  .equipment-icon-name{
    margin-top: 5px;
    border-bottom: 1px solid white;
    padding-bottom: 12px;
  }

  .icon{
    width: 5%;
  }
}

.tracks{
  color:white;
  font-size: 24px;
  padding-top: 100px;

  .headline{
    text-align: left;
    font-size: 5em;
    line-height: 1.5em;
    font-family: 'lexia-advertising', serif;
    border-top: dashed 4px white;
    border-bottom: dashed 4px white;
    padding-left: 120px;
    letter-spacing: 1px;
  }
}

.contact{
  .headline{
    font-size: 9em;
    line-height: 1.5em;
    border-bottom: 10px dashed white;
    color:white;
  }
  .contact-text{
    padding: 0px 120px;
    color:white;
  }
}

.footer{
  padding: 40px 0%;
  color: white;

  .footer-container{
    display:flex;
    flex-direction: row;
  }

  .headline{
    font-size: 9em;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-family: 'lexia-advertising', serif;
    border-bottom: 10px dashed white;
  }
  .insta-icon{
    width: 60%;
    margin-top: 15px;
  }
  .contact-icon{
    text-align: left;
  }
  .contact-text{
    margin-top: 34px;
    margin-left: 30px;
  }
  .contact-text-copy{
    margin-top: 34px;
    margin-left: 30px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 0px 10px 0px;
    overflow: hidden;
    font-family: 'Merriweather', serif;
    width: 100%;
  }
  li {
    float: left;
  }
  li a {
      display: block;
      color: white;
      text-align: left;
      padding: 14px 0px;
      text-decoration: none;
      font-family: 'Refrigerator Deluxe', sans-serif;
  }
  .right{
    float: right;
  }
}
.nav-mobile{
  display: none;
}
.dropdown{
  display:none;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #1a1514;
  padding: 5px 0;
  a{
    padding: 20px 0;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
}
.mobile{
  display: none;
}
@media only screen and (max-width: 1100px) {
  .ig-logo{
    width: 100%;
  }
  .header .header-links .insta-icon {
    width: 50px;
    padding-bottom: 10px;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
  .nav-desktop{
    display: none;
  }
  .dropdown{
    display: inline-grid;
  }
  .nav-mobile{
    display: block;
  }
  .hb{
    cursor: pointer;
    width: 30px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 800px) {
  .services .headline {
    font-size: 60px;
  }
  .header-links{
    margin-top: -250px !important;
  }

  .header .header-links .header-text {
    font-size: 14px;
  }
  .footer .right{
    float: left;
  }
  .header ul {
    font-size: 10px;
  }
  .what .what-icon {
    padding-bottom: 3%;
    padding-top: 30%;
  }
  .equipment {
    cursor: pointer;
    .equipment-name {
      font-size: 34px;
      cursor: pointer;
    }
  }
  .beat .subheadline {
    padding-bottom: 0px;
  }
}
@media only screen and (max-width: 600px){
  .what .what-icon {
    padding-bottom: 3%;
    padding-top: 0%;
  }
  .header .header-links .header-text {
    font-size: 10px;
  }
  .what .headline {
    font-size: 12px;
  }
  .beat .headline {
    font-size: 12px;
  }
  .beat .headline {
    font-size: 12px;
  }
  .equipment .headline {
    font-size: 12px;
  }
  .beat .headline {
    font-size: 12px;
  }
  .beat .subheadline, .beat p{
    font-size: 12px;
    line-height: 24px;
    width: 100%;
  }
  .wrapper {
    padding: 0px 10%!important;
  }
}
@media only screen and (max-width: 414px){
  .header ul {
      font-size: 4px;
  }

  .services .headline{
    font-size: 30px;
  }

  .what h1 {
    font-size: 24px;
  }

  .what p {
    font-size: 14px;
    line-height: 24px;
  }
  .what .what-icon {
    padding-top: 10%;
    padding-bottom: 20%;
  }
  .beat .headline {
    font-size: 30px;
  }
  .beat p {
    font-size: 12px;
    line-height: 24px;
    padding-bottom: 0px;
  }
  .beat .subheadline {
    font-size: 12px;
    line-height: 24px;
  }
  .beat .price-container {
    width: 90%;
    height: 100%;
    text-align: left;
    padding-bottom: 60px;
  }
  .footer ul {
    padding: 0px 0px 0px 0px;
  }
  .footer li a {
    font-size: 12px;
  }
}
