<body>

  <!-- navbar -->
  <div class="header">
    <div class="header-text">
      <ul>
        <li><a href="#home">Logo</a></li>
        <li><a href="#news">Studio Services</a></li>
        <li><a href="#contact">Booking</a></li>
        <li><a href="#contact">Beat Leasing </a></li>
        <li><a href="#contact">Equipment </a></li>
        <li><a href="#contact">Featured Work </a></li>
        <li><a href="#contact">Contact </a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
      </ul>
    </div>
  </div>

  <!-- header -->
  <section class="">
    <div class="wrapper">

      <img class="header-img" src="../../assets/rarefield_1920.jpg">
    </div>
  </section>


  <section class="services">
    <div class="wrapper">
      <h1 class="headline">Studio Services.</h1>

    </div>
  </section>

  <section class="what">
    <div class="wrapper">
      <h1 class="headline">What We Do</h1>

    </div>
  </section>

  <section class="beat">
    <div class="wrapper">
      <h1 class="headline">BEAT LEASES.</h1>

    </div>
  </section>

  <section class="equipment">
    <div class="wrapper">
      <h1 class="headline">Our Equipment</h1>

    </div>
  </section>

  <section class="tracks">
    <div class="wrapper">
      <h1 class="headline">Featured Tracks.</h1>

    </div>
  </section>

  <section class="contact">
    <div class="wrapper">
      <h1 class="headline">CONTACT.</h1>

    </div>
  </section>

  <section class="footer">
    <div class="wrapper">
      Rarefield Recordings
      705 NW 19th Ln
      Gainesville, Fl 32609
      352.665.6663
    </div>
  </section>
</body>
