<body>

  <!-- navbar -->
  <div class="header">
    <div class="header-text">
      <ul>
        <li><a href="#home">Logo</a></li>
        <li><a href="#news">Studio Services</a></li>
        <li><a href="#contact">Booking</a></li>
        <li><a href="#contact">Beat Leasing </a></li>
        <li><a href="#contact">Equipment </a></li>
        <li><a href="#contact">Featured Work </a></li>
        <li><a href="#contact">Contact </a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
      </ul>
    </div>
  </div>

  <!-- header -->
  <section class="">
    <img class="header-img" src="../../assets/rarefield_1920.jpg">
  </section>


  <section class="services">
    <div class="wrapper">
      <div class="Grid Grid--full u-textCenter">
        <div class="Grid-cell">
          <div class="headline">STUDIO SERVICES</div>
        </div>
      </div>
    </div>
  </section>

  <section class="what">
    <div class="wrapper">
      <div class="Grid Grid--cols-2 u-textCenter">
        <div class="Grid-cell">
          <img class="what-icon" src="../../assets/circle.png">
        </div>
        <div class="Grid-cell what-text">
          <h1>What We Do</h1>
          <p>Create and capture your sounds with experienced
          professionals and realize your true potential at
          Rarefield Recordings. We firmly believe in curating a
          creative atmosphere and building positive, caring,
          and genuine relationships with every artist we work
          with.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="beat">
    <div class="wrapper">
      <div class="Grid Grid--cols-2 u-textCenter">
        <div class="Grid-cell">
          <img class="what-icon" src="../../assets/circle.png">
        </div>
        <div class="Grid-cell what-text">
          <h1>What We Do</h1>
          <p>Create and capture your sounds with experienced
          professionals and realize your true potential at
          Rarefield Recordings. We firmly believe in curating a
          creative atmosphere and building positive, caring,
          and genuine relationships with every artist we work
          with.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="equipment">
    <div class="wrapper">
      <div class="Grid Grid--cols-2 u-textCenter">
        <div class="Grid-cell">
          <img class="what-icon" src="../../assets/circle.png">
        </div>
        <div class="Grid-cell what-text">
          <h1>What We Do</h1>
          <p>Create and capture your sounds with experienced
          professionals and realize your true potential at
          Rarefield Recordings. We firmly believe in curating a
          creative atmosphere and building positive, caring,
          and genuine relationships with every artist we work
          with.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="tracks">
    <div class="wrapper">
      <div class="Grid Grid--full u-textCenter">
      <div class="Grid-cell">
        <h1 class="headline">WHAT WE DO</h1>
      </div>
    </div>
    </div>
  </section>

  <section class="contact">
    <div class="wrapper">
      <div class="Grid Grid--full u-textCenter">
        <div class="Grid-cell">
          <div class="headline"><i>FULL BAND</i></div>
        </div>
      </div>

    </div>
  </section>

  <section class="footer">
    <div class="wrapper">
      Rarefield Recordings
      705 NW 19th Ln
      Gainesville, Fl 32609
      352.665.6663
    </div>
  </section>
</body>
